.main-home{
    display: flex;
    flex-direction: column;
}
.main-container{
    width: 100%;
    padding: 50px;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1100px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }
    
}
.container-image{
    display: flex;
    width: fit-content;
    justify-content: center;
    height: auto;
}
.img550{
    /* display: flex; */
    border-radius: 10px;
    /* padding-right: 55px; */
}
.defn{
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 550px;
}
.defn-main{
    display: flex;
    flex-direction: row;
}
.defn-line{
    display: flex;
    background-color: blueviolet;
    height: 2.5px;
    width: 70px;
    margin-top: 8px;
}
.defn-title{
    display: flex;
    color: blueviolet;
    font-size: medium;
}
.defn-slogan{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: start;
}
.defn-description{
    display: flex;
    text-align: start;
    color: grey;
}
.features{
    padding-top: 120px;
    background-color: ;
    /* padding-bottom: 100px; */
    
}
.feat-title{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.main-features{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
/* .main-feat{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
} */
.feat-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 250px;
    /* padding-right: 50px; */

}
.img70{
    width: 70px;
    border-radius: 10px;
    transition:height 1s, width 1s,  transform .5s;
    /* transition-property: border-radius; */
}
.img70:hover{
    animation: loader .5s forwards; 
    transform:rotate(360deg);
    /* border-radius: 50%; */
}
@keyframes loader {
    100%{
        border-radius: 50%;
    }
    
}
.feat-heading{
    display: flex;
}
.feat-para{
    display: flex;
}
.quotation{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* width: 100%; */
    padding: 100px 0 100px 0;
    /* height: 250px; */
}
.quote-items{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 500px;
    height: 350px;
}
.quote-para{
    /* display: flex;
    justify-content: flex-start; */
    /* text-align: start; */
    display: flex;
    justify-content: start;
}
.quote-header{
    color: rgb(93, 93, 192);
}
.quote-intro{
    color: grey;
}
.foot-container{
    background-color: #1c90b9;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.foot-items{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 550px;
}
.foot-header, .foot-para{
    color: white;
}
.foot-para{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-button{
    width: 90px;
    height: 60px;
    border: white;
    border-radius: 10px;
    color: blue;
}
.foot-button:hover{
    background-color:#1c90b9;
    color:white ;
    border:2px solid  white;
}
.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 28, 28, 0.19);
    backdrop-filter: blur(6px);
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    z-index: 100;
}
.modal__align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal__content {
    width: 800px;
    height: 500px;
    box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07),
    0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112),
    0px 7.779px 7.30492px rgba(0, 0, 0, 0.035),
    0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
    border-radius: 20px;
    background: transparent;
    color: #000;
    margin: 0rem 4rem;
}

.modal__close {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    bottom: 50px;
    width: 32px;
    height: 32px;
    padding: 0;
}

.modal__video-align {
    display: flex;
    position: relative;
    bottom: 37px;
}

.modal__video-style {
    border-radius: 20px;
    z-index: 100;
  }
  
  .modal__spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal__spinner {
    animation: spin 2s linear infinite;
    font-size: 40px;
    color: #1b6aae;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 800px) {
    .modal__content {
      margin: 0rem 1rem;
      width: 100%;
    }
    .modal__video-style {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 499px) {
    .modal__content {
      background: transparent;
      height: auto;
    }
    .modal__video-align {
      bottom: 0px;
    }
    .modal__video-style {
      height: auto;
    }
  }
  