.footer-container{
    background-color: rgb(13,24,59);
    height: 550px;
    display: flex;
    justify-content: center;
    color: white;
    /* align-items: center; */
    
}
.ol-item, .footer-header, .footer-icons{
    color: white;
}
.imglogo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 100px;
}

.footer-para{
    text-align: start;
    padding-top: 30px;
}
.ol-item{
    transition: all .2s linear;
    display: flex;
    margin-left: 15px;
}
.ol-item:hover{
    transform: translateX(20px);
    color: blue;
}
.middle-side{
    padding-top: 85px;
    display: flex;
    justify-content: space-evenly;
}
.list-middle{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 90px;
}
.ul-main{
    display: flex;
    flex-direction: row;
    
}
.right-side{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
/* .footer-header{
    
} */
.footer-icons{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin-left: 40px;
    padding-top: 30px;
}
.footer-icon{
    color: white;
    transition: all .2s linear;
}
.footer-icon:hover{
    transform: translateX(20px);
    color: blue;
}
